@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

/* .header {
  background: linear-gradient(rgb(255, 245, 235), rgb(255, 254, 241));
  border: 2px solid rgb(255, 245, 244);
} */

.sec {
  /* border-bottom: 1px solid #e6d6d6; */
  background: linear-gradient(to-right rgb(255, 245, 235) #e6d6d6 #ffff);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.navv {
  position: sticky;
  top: 0;
  background-color: #e9dddc;
  width: 100vw;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.dev {
  color: #f94a3d;
  display: flex;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-left: 40px;
}

.D {
  background-color: #f94a3d;
  width: 35px;
  height: 34px;
  margin-top: 10px;
  color: white;
  border-radius: 7px;
}

.D > p {
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 27px;
  padding-left: 8px;
  padding-top: 5px;
}

#F {
  margin-top: 6px;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
}

.navi {
  display: flex;
  justify-content: space-between;
}

.navi > a {
  text-decoration: none;
  color: black;
}

.navi p {
  margin-right: 30px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: #ffff;
  padding: 5px;
  border-radius: 10px;
  color: #69697b;
  /* border-right: 1px solid #69697b; */
  margin-right: 30px;
  border: 1px solid #69697b1a;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */

  /* stroke-width: 1px;
  stroke: rgba(105, 105, 123, 0.1);
  filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.04)); */
}

.search > input {
  border: none;
  padding: 10px;
  outline: none;
  /* border-radius: 5px; */
  border-right: 1px solid #f0f0f2;
  height: 15px;
}

.search > img {
  margin: 0 20px;
}

#cart {
  /* margin-right: 0px;
    padding-left: 0px; */
  width: 30px;
  /* height: 20px; */
}

.container {
  /* margin-left: 0px;
    padding-right: 0px; */
  position: relative;
  color: white;
  background-color: #f94a3d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.top-right {
  position: absolute;
  top: -2px;
  right: 2px;
  padding-left: 4px;
  padding-right: 5px;
}

#btn {
  margin-left: 30px;
  border: none;
  width: 109px;
  height: 40px;
  border-radius: 10px;
  background-color: #f94a3d;
  color: white;
  font-size: 18px;
}

#btn:hover {
  cursor: pointer;
}

.head-top {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #e0b9b9; */
}

.corn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 42px;
  background-color: #fdecec;
  border-radius: 20px;
  margin-bottom: 15px;
}

.corn > p {
  color: #f94a3d;
  margin-left: 20px;
  font-weight: 700;
}

.head-left > h1 {
  color: #212244;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.head-left > p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #69697b;
}

.img1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.head-right > img {
  width: 524px;
}

.bttn {
  margin-top: 25px;
  background-color: #f94a3d;
  color: white;
  width: 174px;
  height: 60px;
  border-radius: 16px;
  border: none;
  font-size: 15px;
  /* font-size: 18px;
    font-weight: 400;
    line-height: ; */
}

.mid {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #212244;
  margin-left: 80px;
  margin-right: 80px;
}

.mid-1 > p {
  color: #69697b;
  margin-top: 15px;
}

.card-1 {
  /* width: 340px;
    height: 230px;  */
  width: 17vw;
  border-radius: 20px;
  background: #fff;
  padding-left: 30px;
  padding-bottom: 20px;
  box-shadow: 20px 40px 90px -5px rgba(133, 15, 15, 0.08);
}

.card-1 > h1 {
  /* border-left:1px solid #f3f3f3;
    border-bottom:1px solid #f3f3f3;
    border-right:1px solid #f3f3f3; 
    #FFCF0300, #FFCF03*/
}

.golden {
  padding-bottom: 0px;
}
.golden > h1 {
  /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 20px;
    border-left: 2px solid #FFCF03;
    border-right: 2px solid #FFCF03;
    border-bottom: 2px solid #FFCF03; */
  /* background: #FFF;
box-shadow: 20px 40px 90px -5px rgba(133, 15, 15, 0.08); */
}

.menu {
  margin-top: 30px;
}

.menu > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.menu-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-1 > p {
  margin-right: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 3px;
}

#fast {
  color: rgba(249, 74, 61, 1);
  /* text-decoration: underline; */
  /* padding-bottom: 5px; */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: fit-content;
  margin-bottom: 5px;
}

.special {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}

.chicken {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* width: 338px;
height: 366px;  */
  padding: 30px;
  padding-top: 0;
  border-radius: 24px;
  background: linear-gradient(to top #fff #fdfdfd);
  border: 1px solid #d2d2e2;
  /* box-shadow: 2px 4px 90px 5px rgba(11, 12, 11, 0.08); */
  box-shadow: 20px 40px 90px -5px rgba(133, 15, 15, 0.08);
  border-left: none;
  border-right: none;
  border-top: none;
  /* margin: 0 auto; */
}

.chicken > img {
  display: block;
}

.taste {
  width: 190px;
  height: 200px;
  margin-bottom: 10px;
}

.star {
  width: 95.2px;
  height: 17px;
  align-self: center;
  margin-bottom: 10px;
}

.chicken > h3,
.chicken > p {
  margin-bottom: 5px;
}

.add {
  width: 121px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #f94a3d;
  color: #f94a3d;
  background-color: #fff;
  align-self: center;
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.more {
  color: white;
  background-color: #f94a3d;
}

.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px;
}

/* .revieww{
  margin-top:200px;
} */

.review {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  background-color: #f8f8f8;
  padding-top: 200px;
  padding-bottom: 80px;
}

.left-review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border-right: 3px solid #EAEAEA; */
  padding-right: 70px;

  /* margin-top: 200px; */
}

.left-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35vw;
  margin-bottom: 15px;
  margin-left: 20px;

  /* height: 110.584px;  */
}

.extra {
  border-radius: 15px;
  background: linear-gradient(86deg, #fff 0%, #fff 100%);
}

.left-1 > img {
  padding: 8px;
  margin-left: 10px;
}

.rosele {
  margin-left: 40px;
}

.rosele > h4 {
  font-size: 20px;
  font-weight: 500;
}

.rosele > p {
  font-size: 12px;
  font-weight: 400;
}

.right-review {
  /* margin-top: 200px; */
  /* border-left: 1px solid #f8f8f8; */
  border-left: 3px solid #eaeaea;
  padding-left: 70px;
  margin-right: 20px;
}

.right-review-1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.96px;
  margin-bottom: 35px;
  /* border-left: 2px solid #f94a3d; */
  /* padding-left: 70px; */
}

.right-review-2 {
  margin-bottom: 20px;
  border-left: 3px solid #f94a3d;
  padding-left: 15px;
}

.market {
  display: flex;
  justify-content: space-between;
}

.market > p {
  color: #69697b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.para {
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
}

.para {
  /* border-top: 1px solid #69697B; */
  /* border-block-start: 1px solid #69697b; */
  margin-top: 30px;
  color: #69697b;
}

.foot {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-top: 100px; */
  background: linear-gradient(135deg, #f0e3e6, #fff);
}

.foot-left {
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.foot-left > p,
.foot-left > a > img {
  margin-left: 40px;
  margin-top: 30px;
}

.foot-right {
  margin-top: 100px;
  margin-bottom: 100px;
}

table {
  color: #69697b;
  border: none;
}

td:hover {
  cursor: pointer;
}

thead {
  color: black;
  text-align: left;
}

th,
td {
  padding: 0 50px;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
}

th {
  padding-bottom: 30px;
}

@media screen and (max-width: 1100px) {
  .head {
    flex-direction: column;
    height: 100px;
  }
  .navi {
    font-size: 20px;
  }

  .nav-right {
    display: none;
  }

  .search {
    display: none;
  }

  .head-top {
    flex-direction: column;
  }
  .mid {
    flex-direction:column;
    justify-content: center;
    font-size: 20px;
  }
  
  .card-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .card-1>img{
    margin-right: 5rem;
  }
  .review{
    flex-direction: column;
    justify-content: center;
  }
  .left-review{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .para{
    text-align:justify;
  }
}

